@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.container{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background: lavender;
}
header{
	height: 70px;
	width: 100%;
	background: black;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
ul{
	display: flex;
	gap: 40px;
}
li{
	height: 100%;
/*	background: wheat;*/
list-style: none;
}
a{
	text-decoration: none;
	color: #fff;
	font-size: 19px;
	font-family: 'Poppins', sans-serif;
}
.active, a:hover{
	color: wheat;
}
.content{
	position: absolute;
	height: 89vh;
	width: 100%;
	bottom: 0;
}
.text__header{
	font-size: 40px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	margin-top: -3px;
}
.cover{
/*	background: green;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 90%;
	width: 100%;
	margin-top: -30px;
	gap: 5px;

}
.img{
	position: relative;
	height: 259px;
	width: 380px;
	border-radius: 5px;
	background: wheat;
	display: flex;
	justify-content: center;
	align-items: center;

}
img{
	width: 370px;
/*	height: 80px;*/


}